@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@font-face {
  font-family: "aavegotchi";
  src: url('../fonts/AAVEGOTCHi_FONT_V1.otf');
}

.aavegotchi {
  font-family: "aavegotchi";
}

@font-face {
  font-family: "kanit";
  src: url('../fonts/Kanit//Kanit-Regular.ttf');
}

.kanit {
  font-family: "kanit";
}

@font-face {
  font-family: "kanit-light";
  src: url('../fonts/Kanit//Kanit-Light.ttf');
}

.kanit-light {
  font-family: "kanit-light";
}



:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  /* margin: 1rem 0; */
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}
